.footer_outer_container {
    background-color: #111;
    color: grey;
    display: flex;
    justify-content: center;
}
.footer_inner_container {
    width: 60%;

}
.footer_icons {

    width: 12%;
    display: flex;
    justify-content: space-between;
    margin-left: 30px;
    color: #fff;
}
.footer_icons a{
color: grey;
}
.footer_data {
    display: flex;
    justify-content: space-between;
    color: grey;
}
.footer_data ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 12vh;

}
.footer_data ul li {
    cursor: pointer;
}
.service_code {
    display: flex;
    align-items: center;
    justify-content: center;
    border: #fff 1px solid;
    width: 15%;
    cursor: pointer; 
    margin-left: 10px;

}
.copy-right {
    font-style: 12px;
    margin-bottom: 10px;
}

.footer_link:hover {
  text-decoration: underline; 
  color: grey;
}
.footer_link{
     color: grey;
}

@media (max-width: 768px) {
    .footer_data{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .footer_data ul{
        list-style: none;
        columns: 3;
        flex-direction: column;
    }
    /* .footer_data ul{
        list-style: none;
        columns: 2;
        flex-direction: column;
    } */
}